<h1>ITP 404 Assignment 5</h1>

{{input type="text" enter="searchSubreddit" value=subreddit}}
<button type="button" class="btn btn-primary" onclick={{action "searchSubreddit"}}>Search</button>

{{outlet}}
